nav {
  min-height: 85px;
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}
li {
  display: inline;
  margin-right: 50px;
  color: white;
}
